<main>
    <div class="card-full">
        <p><a href="/restaurants">Go back to Restaurant list page</a></p>
        <p>Customer {{this.username}} has given the following reviews:</p>
        <span>{{this.reviews}}</span>
    </div>
    <a class="btn btn-primary" href="/logout">Logout</a>
</main>