<main>
    <div class="card-full container">
        <p><a href="/restaurants">Go back to Restaurant list page</a></p> <br>
        <h1>Successfully deleted your review!</h1>
        <div>
            <p>{{message}}</p>
        </div>
        {{#if message}}
        {{/if}}
        <a class="btn btn-primary" href="/logout">Logout</a>
    </div>
</main>