<main>
    <h2>Error</h2>
    <p><a href="/restaurants">Go back to Restaurant list page</a></p>
    <p class="{{className}}">{{message}}</p>
    <a class="btn btn-primary" href="/logout">Logout</a>
</main>