<main>
    <div class="card-full container">
        <p><a href="/restaurants">Go back to Restaurant list page</a></p>
        <p>Reviews of the Restaurant {{this.name}} are:</p>
        <p class="card-text">reviewText: {{this.reviewText}}</p>
        <p class="card-text">rating: {{this.rating}}</p>
        <p>Published your reviews for {{this.name}}</p>
    </div>
    <a class="btn btn-primary" href="/logout">Logout</a>
</main>