body {
    /* background-color: rgb(57, 59, 59); */
    background-image: url('../image/restaurant_img.jpg');
    width: 100%;
    height: 100%;
    /* margin: 0; */
    /* padding-top: 15px; */
    /* background: url('../image/restaurantimage.jpg'); */
    background-size: 100%;
    background-attachment: fixed;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.padding {
    margin: 20px;
    padding: 20px;
}

.card {
    width: 21rem;
}

h1 {
    color: salmon;
}


.error {
    background: #deffde;
    color: #ff1919;
    margin: 10px;
    width: 90%;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 7px;
}

a {
    font-size: 20px;
    font-weight: 600;
    /* background-color: rgb(233, 66, 144); */
}


/* dl {
    color: wheat;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

dd {
    color: wheat;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
} */

p.logout {
    color: wheat;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

.card-wide {
    background-color: #fafafa58;
    box-sizing: border-box;
    display: block;
    text-align: center;
    float: left;
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
    padding: 1%;
    margin: 2%;
}

.card-deck {
    display: inline-table;
}

#sticky {
    position: fixed;
    top: 10%;
}

.dropbtn {
    background-color: #fafafae0;
    color: #558000;
    font-size: large;
    box-sizing: border-box;
    border: 2px solid #558000;
    border-radius: 5em;
    padding: 8px;
    margin: 15px;
    text-align: center;
}

.dropbtn:hover {
    color: #fafafae0;
    background-color: #6ca000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1e0;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    color: #fafafae0
}

#btn-id {
    margin-left: 75px;
    width: 115px;
    height: 45px;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    /* height:100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.568);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

#card-private {
    width: 21rem;
    margin: 20px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-bold {
    font-weight: 700;
}

.btn-private {
    margin: 4px;
    margin-top: 15px;
}

.like,
.dislike {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: lightgreen;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
}

.qty1,
.qty2 {
    border: none;
    width: 20px;
    background: transparent;
}

div.imgStyle {
    margin: 30px;
    background-color: #ffffffe0;
    border: 1px solid black;
    opacity: 0.6;
    text-align: center;
}

div.imgStyle {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}


#login {
    display: block;
}

#signup-form {
    display: block;
}

.anchorDemo {
    margin-left: -966px;
}

.logoutShiftLine {
    color: wheat;
}

.card-private {
    margin-bottom: 583px;

}

.container-private {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 277px;
    width: 57%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.691);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.container-review {

    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 320px;
    width: 50%;
    /* height:100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.523);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

#cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card-getreviews {
    margin: 10px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: DarkSalmon;
    color: black;
    text-align: center;
    font-weight: 700;
}

.logoutShiftLine {
    color: #236832;
}

.bold-id {
    font-weight: 700;
}

.edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#review-pan {
    border: 3px solid red;
    width: 50%;
}

#search {

    width: 258px;

}


.not-found {
    margin-left: 121px;
    margin-top: 81px;
}


/* **********************  FAQ*********************** */

.new {
    padding: 0;
    margin: 0;
    background: #131617;
    overflow-x: hidden;
}

.main-section {
    float: left;
    width: 100%;
    display: block;
    background: #0A192F;
    height: 100vh;
}

.container-faq {
    float: left;
    width: 80%;
    margin: 2rem 10%;
}

.fullwidth-container {
    display: block;
    width: 80%;
    margin: 2rem 10%
}

.line-heading {
    font-family: sans-serif;
    color: #ccd6f6;
    font-weight: 600;
    line-height: 1.1;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 10px 0 40px 10%;
    white-space: nowrap;
    font-size: 26px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.likea {
    display: flex;
    flex-direction: row;
    padding: 2px;
    margin: 4px;
}

.like {
    margin-right: 24px
}

.update {
    width: 85px;
    margin: 10px;
}

.car {
    width: 300px;
    margin-top: 30px;
    border: 2px solid red;
}

.searchnew {
    width: 315px;
}

#redbox {
    border: 3px solid red;
}



.line-heading:after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin: 0 0 0 20px;
    background: rgba(204, 214, 246, .2);
    text-shadow: none;
    transition: all .6s ease-in-out 0s
}

.line-heading:hover:after {
    width: 180px;
    background: rgba(204, 214, 246, .6);
}

h3.large-heading {
    font-family: sans-serif;
    margin: 0 0 0 10%;
    font-size: 52px;
    line-height: 1.1;
    letter-spacing: -.045em;
    color: rgba(255, 255, 255, 0.741);
    text-shadow: 1px 1px 1px rgb(0 0 0);
}


/** The Faq Section **/

#faqSection div {
    float: left;
    display: inline-block;
    width: 46%;
    margin: 0 2%;
    overflow: hidden;
}

#faqSection .collapsible {
    background-color: #112240;
    border: 1px solid hsla(0, 0%, 51.4%, .16);
    border-radius: 7px;
    box-shadow: 0 10px 30px -15px rgb(0 0 0);
    transition: box-shadow .2s ease 0s;
    color: #ccd6f6;
    margin: 0 0 8px;
    width: 100%;
    padding: 12px;
    font-family: sans-serif;
    font-size: 15px;
    text-align: left;
}

#faqSection .collapsible:hover {
    box-shadow: 0 10px 60px -15px rgba(0, 0, 0, 1);
}


#faqSection .collapsible:after {
    content: "\002B";
    font-weight: bold;
    float: right;
    margin-left: 5px
}

#faqSection .active:after {
    content: "\2212"
}

#faqSection .faq-content {
    overflow: hidden;
    width: calc(100% - 8%);
    padding: 5px 2%;
    transition: all .25s ease-in-out 0s;
    background: #0b1629;
    border: 1px solid hsla(0, 0%, 51.4%, .16);
    border-radius: 7px;
    max-height: 0px;
    visibility: hidden;
}

#faqSection .faq-content p {
    font-family: sans-serif;
    color: #c2c2c2;
    line-height: 140%;
    font-size: 14px;
    margin: 0 0 12px;
    text-shadow: 1px 1px 0 rgb(0 0 0 / 80%);
    font-weight: 100;
}

#faqSection .faq-content a {
    color: #00C58E;
    font-weight: 600;
    letter-spacing: .05rem;
}

#faqSection .faq-content ul {
    border-left: 2px solid #00C58E
}

#faqSection .faq-content li {
    color: #bad2e2;
    font-size: .85rem;
    line-height: 160%;
    font-weight: 200;
    margin: 8px 0 8px 2%;
    list-style: none;
    width: 90%;
    font-family: sans-serif;
    text-shadow: 1px 1px 0 rgb(0 0 0);
}

.myFooter {
    float: left;
    width: 100%;
    display: block;
    background: #0A192F;
    text-align: center;
    height: 10vh
}

.myFooter p {
    color: rgba(255, 255, 255, 0.867);
    font-family: sans-serif;
    text-shadow: 1px 1px 0 rgb(0 0 0);
}

.myFooter a {
    color: #00C58E;
    text-decoration: none
}

