<main>
    <div class="container">
        <p>
            {{message}}
        </p>
    </div>
    <div>
        <p><a href="/restaurants/{{restaurantId}}">Go back to Restaurant Profile page</a></p>
    </div>
</main>