<main>
    <div class="container">
        <p>
            {{message}}
        </p>
    </div>
    <div>
        <p><a href="/restaurants/{{restaurantId}}">Go back to Restaurant Profile page</a></p>
    </div>
</main>

<div class="container-fluid bg-primary bg-icon mt-5 py-6">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-md-7 wow fadeIn" data-wow-delay="0.1s">
                <h1 class="display-5 text-white mb-3">Successfull!</h1>
                <p>{{message}}</p>
            </div>
            <div class="col-md-5 text-md-end wow fadeIn" data-wow-delay="0.5s">
                <a class="btn btn-lg btn-secondary rounded-pill py-3 px-5" href="/restaurants/{{restaurantId}}">Go Back</a>
            </div>
        </div>
    </div>
</div>