<div class="container-fluid bg-dark footer mt-5 pt-5 wow fadeIn">
    <div class="container py-5">
        <h1 class="fw-bold text-primary mb-4">F<span class="text-secondary">ood</span> Survivour</h1>
        <p>Developed by <span class="text-secondary">Group 4 - </span> Zhenying Yu | Chaitanya Pawar | Deke He | Barun
            Roy @ <span class="fw-bold text-primary">Stevens Institute of Technology</span></p>
    </div>
</div>