<nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fixed-top bg-light" data-wow-delay="0.1s">
  <a href="/restaurants" class="navbar-brand ms-4 ms-lg-0">
    <h1 class="fw-bold text-primary m-0">F<span class="text-secondary">ood</span> Survivor</h1>
  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a href="/restaurants" class="nav-item nav-link active">Restaurants</a>
      <a href="../../public/html/about.html" class="nav-item nav-link">About Us</a>
      <a href="../../public/html/faq.html" class="nav-item nav-link">FAQs</a>
    </div>
  </div>
  <div class="d-none d-lg-flex ms-2 new-post-form">
    <form action="/search" method="POST" class="d-flex" role="search">
      {{ data.name }}
      <input class="form-control me-2 search-box-container" type="search" placeholder="Search for Menu or Restaurant"
        name="name" value="{{data.name}}" id="search">
      <button class="btn btn-outline-success btn-round" type="submit" id="navStyle">Search</button>
    </form>
    <div class="nav-item">
      <a href="#" class="nav-link btn-sm-square bg-white rounded-circle ms-3" data-bs-toggle="dropdown"><small
        class="fa fa-user text-body"></small></a>
      <div class="dropdown-menu m-0">
        <a href="/" class="dropdown-item">View Profile</a>
        <a href="/logout" class="dropdown-item">Sign out</a>
      </div>
    </div>
    </a>
    <a class="btn-sm-square bg-white rounded-circle ms-3" href="/manage" data-bs-toggle="tooltip"
      data-bs-placement="bottom" title="Add Restaurant">
      <small class="fa fa-plus text-body"></small>
    </a>
  </div>
</nav>
<br><br><br><br>