<main>
    <h1>Successfully Loggedout...........</h1>
    <div>
        <p class="logout">{{message}}</p>
    </div>
    {{#if message}}
    <a class="logoutShiftLine" href="/">Login</a>
    {{/if}}
</main>