<div class="login-page bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h1>Create Account</h1>
        <div class="bg-white shadow rounded">
          <div class="row">
            <div class="col-md-7 pe-0">
              <div class="form-left h-100 py-5 px-5">
                <form id="signup-form" action="/signup" method="POST" class="row g-4">
                  <div class="col-12">
                    <label for="firstname">First Name<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                      <input type="text" id="firstname" name="firstname" class="form-control"
                        placeholder="Enter your First Name">
                    </div>
                    {{!-- <small class="form-text text-muted">We'll never share your details with anyone else.</small>
                    --}}
                  </div>

                  <div class="col-12">
                    <label for="firstname">Last Name<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                      <input type="text" id="lastname" name="lastname" class="form-control"
                        placeholder="Enter your Last Name">
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="firstname">Email<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text"><i class="bi bi-envelope"></i></div>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email">
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="firstname">Choose Username<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text"><i class="bi bi-briefcase"></i></div>
                      <input type="text" id="username" name="username" class="form-control"
                        placeholder="Enter your First Name">
                    </div>
                  </div>

                  <div class="col-12">
                    <label>Password<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                      <input type="password" id="password" name="password" class="form-control"
                        placeholder="Enter Password">
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="firstname">Your Age<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text"><i class="bi bi-box"></i></div>
                      <input type="number" class="form-control" id="age" name="age" placeholder="Enter your Age">
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <p class="form-check-label">Already have an Account?</p>
                  </div>

                  <div class="col-sm-6">
                    <a href="/" class="float-end text-primary">Log in</a>
                  </div>

                  {{#if errorcode}}
                  <div class="col-sm-6">
                    <p class="error">{{message}}</p>
                  </div>
                  {{/if}}

                  <div class="col-12">
                    <button type="submit" id="btn-id" class="btn btn-primary px-4 float-end mt-4">Create
                      Account</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-5 ps-0 d-none d-md-block">
              <div class="form-right h-100 bg-primary bg-icon text-white text-center pt-5">
                <h2 class="fs-1">Welcome to Food Survior!!!</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../../public/javascript/login.js"></script>
</div>