<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pickRestaurant</title>
</head>
<body>
    <div class="container" style="width:32rem ;">
         <h3>restaurant list</h3>
        {{#each allrestaurants}}
            <div class="">
                <a href="/buying/pickRestaurant/{{this._id}}">
                {{this.name}}  </a>
                {{!-- <small>remained box count:{{this.count}}</small > --}}
                <br>
            </div>

        {{/each}}
    </div>
    

     {{!-- <a href="/home">home</a> --}}
</body>
</html>