<main>
    <h1 class="{{className}}">{{message}}</h1>
    {{#if message}}
    <a class="logoutShiftLine" href="/">Login</a>
    {{/if}}
    <a class="btn btn-primary" href="/logout">Logout</a>
</main>