<main>
    <div>
        <p>{{message}}</p>
    </div>
    {{#if message}}
    <a class="logoutShiftLine" href="/">login</a>
    {{/if}}
    <a class="btn btn-primary" href="/logout">Logout</a>
</main>